*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
}
body{
  background-color: #000;
}
/* -------------------------.-------------  */
.image{
  height: 100vh;
  position: relative;
}
.content{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
 
}
.img-text{
  color: white;
  background-color: #00000042;
  padding: 1rem;
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px #ffffff, 0px 0px 30px #ffffff50; */
  /* margin-bottom: 10vh; */
}
.img-text h1{
  font-size: 4rem;
  font-weight: 900;
}
/* ------------------------------- */
.text-box{
  padding: 2rem;
  background-color: #f1f1ff;
}
.text-box h3{
  margin: 1rem 0;
}
.text-box p{
  text-align: justify;
}